<a href="https://colab.research.google.com/github/kalnikos/Develop-operation-strategy-based-on-Linkedin-Data/blob/main/Twitter_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import snscrape.modules.twitter as sntweets

In [1]:
pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.3.4-py3-none-any.whl (35 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from snscrape) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.2.6)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2022.5.18.1)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.3.4

In [23]:
from datetime import date
from datetime import datetime, timedelta
def date_from():
  x = date.today() - timedelta(365) 
  return str(x)

In [30]:
def query_create(tweet):
  query = str(tweet) + ' since:' + str(date_from())
  return query

In [32]:
tweets = []
querys = ['menabrea']
for query in querys:
    for tweet in sntweets.TwitterSearchScraper(query_create(query)).get_items():
      tweets.append([tweet.date, tweet.id, tweet.content, tweet.username])
      # Creating a dataframe from the tweets list above
      tweets_df2 = pd.DataFrame(tweets, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [33]:
tweets_df2.shape

(1192, 4)

In [34]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2022-05-29 15:37:42+00:00,1530936427646799872,I got introduced to the menabrea beer last nig...,mmelisses
1,2022-05-28 20:28:16+00:00,1530647162983436288,@higgelly Nice pint of menabrea.,legionofthebold
2,2022-05-28 19:56:35+00:00,1530639188646830081,@weeevee Cuttla Menabrea in the fridge friend ...,Michaelputts90
3,2022-05-28 19:00:27+00:00,1530625062956589057,@Dean72__ You need to try Menabrea. ¬£2 for 660...,DavidJohnMacLe2
4,2022-05-28 18:40:46+00:00,1530620110553112577,"Birra Menabrea - Ambrata (***) 5,0%\n\n#beeron...",brunnenbraeu
...,...,...,...,...
1187,2021-05-31 16:26:45+00:00,1399401976274866187,Drinking a Menabrea Ambrata by G. Menabrea &am...,GeoFlo333
1188,2021-05-31 15:59:54+00:00,1399395218424832005,@Jimkingofkings Love a Menabrea üëå,Kav3128
1189,2021-05-31 14:22:07+00:00,1399370612246814720,@_valegenni Menabrea ottima birra üç∫,gianpi36590925
1190,2021-05-31 00:12:50+00:00,1399156882883891209,Menabrea,LewisKennedy555
1191,2021-05-30 20:03:04+00:00,1399094026456817666,Cracking day out with Vicky and the kids in No...,Desp86